<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h5>Blog</h5>
    <nav>
        <a href="/">Главная</a>
        <a href="/blog">Блог</a>
        <a href="/blog/add">Добавить статью</a>
        <a href="/about">Про нас</a>
    </nav>
</div>

<div>
    <h1>Добавление статьи</h1>
    <form action="/blog/add" method="post">
        <input type="text" name="title" placeholder="Введите название статьи"><br>
        <textarea name="full_text" placeholder="Введите полныый текст статьи"></textarea><br>
        <button type="submit">Добавить статью</button>
    </form>

</div>
</body>
</html>