<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h5>Blog</h5>
    <nav>
        <a href="/">Главная</a>
        <a href="/blog">Блог</a>
        <a href="/blog/add">Добавить статью</a>
        <a href="/about">Про нас</a>
    </nav>
</div>

<div>
    <div th:each="el : ${post}">
        <h1 th:text="${el.title}"></h1>
        <p th:text="${el.full_text}"/>
        <a th:href="'/blog/' + ${el.id} + '/edit'">Редактировать</a><br><br>
        <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
            <button type="submit">Удалить</button>
        </form>
    </div>

</div>
</body>
</html>